<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Akaxin报名系统</title>

    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入 Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<br>
<div class="well" well-large align="center">欢迎来到Akaxin校园社交运营大赛报名系统</div>
<form class="form-search" action="/signUp" align="center" method="post">
    <div class="alert alert-info">
        请先填写组长相关信息,便于联系(所有均为必填)
    </div>
    <table class="table table-striped table-bordered table-condensed">
        <tr>
            <td style="text-align: right">组长名称&nbsp;&nbsp;&nbsp;</td>
            <td><input type="text" class="input-medium search-query"
                       name="leader_name">
            </td>
        </tr>
        <tr>
            <td style="text-align: right">手机号&nbsp;&nbsp;&nbsp;</td>
            <td><input type="text" class="input-medium search-query"
                       name="phone_num">
            </td>
        </tr>
        <tr>
            <td style="text-align: right">微信号&nbsp;&nbsp;&nbsp;</td>
            <td><input type="text" class="input-medium search-query"
                       name="wechat_num">
            </td>
        </tr>
        <tr>
            <td style="text-align: right">所在班级(全称)&nbsp;&nbsp;&nbsp;</td>
            <td><input type="text" class="input-medium search-query"
                       name="class_name">
            </td>
        </tr>
        <tr>
            <td style="text-align: right">所在年级&nbsp;&nbsp;&nbsp;</td>
            <td>
                <select class="input-medium" name="grade_name">
                    <option value="未填写">---请选择年级---</option>
                    <option value="大一年级">大一年级</option>
                    <option value="大二年级">大二年级</option>
                    <option value="大三年级">大三年级</option>
                    <option value="大四年级">大四年级</option>
                </select>
            </td>
        </tr>
        <tr>
            <td style="text-align: right">成员(单击删除)&nbsp;&nbsp;&nbsp;</td>
            <td class="member_show">
            </td>
        </tr>

    </table>
    <div class="alert alert-info">
        请添加成员,至少三人(所有均为必填)
    </div>
    <div class="alert alert-error">
        暂无成员,或群成员少于三人
    </div>
    <div class="memberList">
        <table class="table table-striped table-bordered table-condensed member" id="member_0">
            <tr>
                <td style="text-align: right">名称&nbsp;&nbsp;&nbsp;</td>
                <td><input type="text" class="input-medium search-query"
                           name="member_name_0" id="member_name_0">
                </td>
            </tr>
            <tr>
                <td style="text-align: right">手机号&nbsp;&nbsp;&nbsp;</td>
                <td><input type="text" class="input-medium search-query"
                           name="phone_num_0">
                </td>
            </tr>
            <tr>
                <td style="text-align: right">微信号&nbsp;&nbsp;&nbsp;</td>
                <td><input type="text" class="input-medium search-query"
                           name="wechat_num_0">
                </td>
            </tr>
            <tr>
                <td style="text-align: right">所在班级(全称)&nbsp;&nbsp;&nbsp;</td>
                <td><input type="text" class="input-medium search-query"
                           name="class_name_0">
                </td>
            </tr>
            <tr>
                <td style="text-align: right">所在年级&nbsp;&nbsp;&nbsp;</td>
                <td>
                    <select class="input-medium" name="grade_name_0">
                        <option value="未填写">---请选择年级---</option>
                        <option value="大一年级">大一年级</option>
                        <option value="大二年级">大二年级</option>
                        <option value="大三年级">大三年级</option>
                        <option value="大四年级">大四年级</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
    <button class="btn btn-success" type="button" id="addMember"><i class="icon-plus icon-white"></i>&nbsp;添加成员</button>
    <br>
    <br>
    <div class="alert alert-info submit_info" hidden>
        请确认信息无误,然后提交
    </div>
    <input type="hidden" name="memberSize" value="0" id="membeiSize">
    <input type="hidden" class="btn btn-primary submitForm">
</form>


<script type="text/javascript" src="https://cdn.bootcss.com/jquery/2.2.4/jquery.js"></script>
<script type="text/javascript">
    var count = 1;
    var member_Num = 'member_0';
    var memberName_Num = 'member_name_0';
    $('#addMember').click(function () {
        var html = '<table class="table table-striped table-bordered table-condensed member" id="member_' + count + '">' +
            '            <tr>' +
            '                <td style="text-align: right">名称&nbsp;&nbsp;&nbsp;</td>' +
            '                <td><input type="text" class="input-medium search-query" ' +
            '                           name="member_name_' + count + '" id="member_name_' + count + '">' +
            '                </td>' +
            '            </tr>' +
            '            <tr>' +
            '                <td style="text-align: right">手机号&nbsp;&nbsp;&nbsp;</td>' +
            '                <td><input type="text" class="input-medium search-query" ' +
            '                           name="phone_num_' + count + '">' +
            '                </td>' +
            '            </tr>' +
            '            <tr>' +
            '                <td style="text-align: right">微信号&nbsp;&nbsp;&nbsp;</td>' +
            '                <td><input type="text" class="input-medium search-query" ' +
            '                           name="wechat_num_' + count + '">' +
            '                </td>' +
            '            </tr>' +
            '            <tr>' +
            '                <td style="text-align: right">所在班级(全称)&nbsp;&nbsp;&nbsp;</td>' +
            '                <td><input type="text" class="input-medium search-query" ' +
            '                           name="class_name_' + count + '">' +
            '                </td>' +
            '            </tr>' +
            '            <tr>' +
            '                <td style="text-align: right">所在年级&nbsp;&nbsp;&nbsp;</td>' +
            '<td>' +
            '<select class="input-medium" name="grade_name_' + count + '">' +
            '<option value="未填写">---请选择年级---</option>' +
            '    <option value="大一年级">大一年级</option>' +
            '    <option value="大二年级">大二年级</option>' +
            '    <option value="大三年级">大三年级</option>' +
            '    <option value="大四年级">大四年级</option>' +
            '</select>' +
            '</td>' +
            '            </tr>' +
            '' +
            '        </table>';
        var name = $('#' + memberName_Num + '').val();
        if (isEmpty(name)) {
            alert("用户名错误");
            $('#' + memberName_Num + '').val('');
            return;
        }
        var infoButtonHtml = '<button class="btn btn-inverse del" type="button" member_id="' + member_Num + '">' + name + '</button>&nbsp;';
        $('.member').hide();
        $('.memberList').append(html);
        $('.member_show').append(infoButtonHtml);
        count++;
        $('#membeiSize').attr("value", count - 1);
        member_Num = 'member_' + (count - 1);
        memberName_Num = 'member_name_' + (count - 1);
        if (count == 4) {
            $('.alert-error').hide();
            $('.submit_info').show();
            $('.submitForm').attr("type", "submit");
        }

    });

    function isEmpty(val) {
        if (val == null) return true;
        if (val == undefined || val == 'undefined') return true;
        if (val == "") return true;
        if (val.length == 0) return true;
        if (!/[^(^\s*)|(\s*$)]/.test(val)) return true;
        return false;
    }

    $(document).on('click', ".del", function () {
        var mem_id = $(this).attr('member_id');
        $('#' + mem_id).remove();
        $(this).remove();
        count--;
        $('#membeiSize').attr("value", count - 1);
        if (count < 4) {
            $('.alert-error').show();
            $('.submit_info').hide();
            $('.submitForm').attr("type", "hidden");
        }
    });
</script>

</body>
</html>