<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Akaxin报名系统</title>
    <link rel="icon" href="Images/wangyi.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="Images/wangyi.ico" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入 Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<br><div class="well" well-large align="center">欢迎来到Akaxin校园社交运营大赛报名系统</div>
<form class="form-search" href="/signUp" align="center">
    <input type="text" class="input-medium search-query" placeholder="the name of the leader" name="leader_name">小组组长名称
    <br>
    <br>
    <button type="submit" class="btn">提交</button>

</form>


</body>
</html>